<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="ToosoLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">Bitbull\Tooso\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Bitbull\Tooso\Model\Service\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">ToosoLogger</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Layer\Search\CollectionFilter">
        <plugin name="searchQuery" type="Magento\CatalogSearch\Model\Layer\Search\Plugin\CollectionFilter" disabled="true" />
        <plugin name="searchQueryTooso" type="Bitbull\Tooso\Plugin\Model\Layer\Search\CollectionFilter\ApplyToosoSearch" />
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="toosoGenerateDummyData" xsi:type="object">Bitbull\Tooso\Console\GenerateDummyData</item>
                <item name="toosoSendCatalogIndexData" xsi:type="object">Bitbull\Tooso\Console\SendCatalogIndexData</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Block\Result">
        <plugin name="overrideQueryTooso" type="Bitbull\Tooso\Plugin\Block\Result" />
    </type>

    <preference for="Bitbull\Tooso\Api\Service\Config\SearchConfigInterface"
                type="Bitbull\Tooso\Model\Service\Config\SearchConfig" />

    <preference for="Bitbull\Tooso\Api\Service\Config\AnalyticsConfigInterface"
                type="Bitbull\Tooso\Model\Service\Config\AnalyticsConfig" />

    <preference for="Bitbull\Tooso\Api\Service\Config\IndexerConfigInterface"
                type="Bitbull\Tooso\Model\Service\Config\IndexerConfig" />

    <preference for="Bitbull\Tooso\Api\Service\Config\SuggestionConfigInterface"
                type="Bitbull\Tooso\Model\Service\Config\SuggestionConfig" />

    <preference for="Bitbull\Tooso\Api\Service\ConfigInterface"
                type="Bitbull\Tooso\Model\Service\Config" />

    <preference for="Bitbull\Tooso\Api\Service\LoggerInterface"
                type="Bitbull\Tooso\Model\Service\Logger" />

    <preference for="Bitbull\Tooso\Api\Service\SearchInterface"
                type="Bitbull\Tooso\Model\Service\Search" />

    <preference for="Bitbull\Tooso\Api\Service\Search\RequestParserInterface"
                type="Bitbull\Tooso\Model\Service\Search\RequestParser" />

    <preference for="Bitbull\Tooso\Api\Service\SessionInterface"
                type="Bitbull\Tooso\Model\Service\Session" />

    <preference for="Bitbull\Tooso\Api\Service\TrackingInterface"
                type="Bitbull\Tooso\Model\Service\Tracking" />

    <preference for="Bitbull\Tooso\Api\Service\Indexer\CatalogInterface"
                type="Bitbull\Tooso\Model\Service\Indexer\Catalog" />

    <preference for="Bitbull\Tooso\Api\Service\Indexer\StockInterface"
                type="Bitbull\Tooso\Model\Service\Indexer\Stock" />

    <preference for="Bitbull\Tooso\Api\Service\Indexer\DataSenderInterface"
                type="Bitbull\Tooso\Model\Service\Indexer\DataSender" />

    <type name="Bitbull\Tooso\Api\Service\Indexer\CatalogInterface">
        <arguments>
            <argument name="enrichers" xsi:type="array">
                <item name="attributes" xsi:type="object">Bitbull\Tooso\Model\Service\Indexer\Enricher\AttributesEnricher</item>
                <item name="categories" xsi:type="object">Bitbull\Tooso\Model\Service\Indexer\Enricher\CategoriesEnricher</item>
                <item name="gallery" xsi:type="object">Bitbull\Tooso\Model\Service\Indexer\Enricher\GalleryEnricher</item>
                <item name="variants" xsi:type="object">Bitbull\Tooso\Model\Service\Indexer\Enricher\VariantsEnricher</item>
                <item name="stock" xsi:type="object">Bitbull\Tooso\Model\Service\Indexer\Enricher\StockEnricher</item>
            </argument>
        </arguments>
    </type>

</config>
