<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tooso" translate="label" sortOrder="9000" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Tooso Search Engine</label>
            <tab>catalog</tab>
            <resource>Bitbull_Tooso::search_config</resource>
            <group id="info" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>About</label>
                <field id="module_version" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Bitbull\Tooso\Block\Adminhtml\System\Version</frontend_model>
                </field>
            </group>
            <group id="active" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Active Tooso</label>
                <field id="frontend" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="server" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Configuration</label>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API key</label>
                </field>
                <field id="api_version" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Version</label>
                    <source_model>Bitbull\Tooso\Model\Adminhtml\System\Config\Source\ApiVersions</source_model>
                </field>
                <field id="api_base_url" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API base url</label>
                </field>
                <field id="debug_mode" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="search" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Configuration</label>
                <field id="fallback_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Magento search fallback</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Allow Magento to respond with search results when Tooso does not provide them]]></comment>
                </field>
                <field id="response_type" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enrich response</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[IMPORTANT NOTICE: Once this function is activated, switching back from ‘YES’ to ‘NO’ can impact your front end. Before doing it, please make sure that your Magento theme can handle an empty response from the product information retrieval function.]]></comment>
                </field>
                <field id="default_limit" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default query limit</label>
                </field>
                <field id="exclude_params" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parameters to exclude as filter</label>
                    <comment><![CDATA[query and order parameters will be automatically excluded, for additional parameters separate value with comma.]]></comment>
                </field>
            </group>
            <group id="analytics" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Analytics</label>
                <field id="cookie_domain" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie domain</label>
                    <comment><![CDATA[Leave empty for all subdomains]]></comment>
                </field>
                <field id="track_userid" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track user with their customer ID</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
